html, body {
	min-height: 100vh;
	background: url("../images/vector.jpg") no-repeat;
	background-size:100vw auto;
	background-position: center center;
}

#signUpSection{
position: absolute;
bottom: 100px;
left: calc(50% - 575px);
font-family: "Quicksand";
text-align: center;
}
#email{
	width: 300px;
}